:root {
  --primary-color: #007bff;
  --secondary-color: #555;
  --heading-color: #333;
  --background-color: #f9f9f9;
  --accent-color: #0056b3;
  --light-gray: #f1f1f1;
  --border-color: #007bff;
  --skill-bg-color: #e7f0ff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--light-gray);
  width: 900px;
}

.wide-container {
  padding: 2em;
  max-width: 100%; /* Set max-width to 100% to take full width */
  margin: 0 auto; /* Center the container */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contact-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-input.error,
.form-textarea.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submit-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.submit-button:hover {
  background-color: var(--accent-color);
}

.footer {
  margin-top: 40px;
  text-align: center;
  padding: 1.5em;
  border-top: 1px solid #ddd;
  background-color: var(--background-color);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.footer a {
  margin: 0 1em;
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s;
}

.footer a:hover {
  color: var(--accent-color);
}

.social-links {
  margin-top: 1em;
}
